@model IEnumerable<B_LEI.Models.Livro>

@{
    ViewData["Title"] = "B_LEI";
}

<header>
    <div class="navbar-categorias">
        <h2>Categoria</h2>
        @foreach (var cat in ViewBag.Categorias)
        {
            <a href="?categoria=@cat.Nome">@cat.Nome</a>
        }
    </div>
</header>

<!-- Filtros -->
<div class="search-container">
    <form method="get" action="">
        <input type="text" name="search" placeholder="Buscar por título ou autor..." value="@ViewContext.HttpContext.Request.Query["search"]" />
        <button type="submit">&#128269;</button>
    </form>
</div>


<!-- Imagem adicionada abaixo da barra de pesquisa -->
<div class="image-container">
    <img src="/images/fotocapa.png" alt="Capa" style="width:100%; height:auto;">
</div>

<!-- Menu em baixo da imagem -->
<div class="menu-bar">
    <a href="#">REQUISITAR LIVROS</a>
    <div class="separator"></div>
    <a href="#">INFORMAÇÕES DA BIBLIOTECA</a>
    <div class="separator"></div>
    <a href="#">FALE COM O SUPORTE</a>
</div>

<!-- Lista de Livros -->
<div class="book-list">
    <h3>Livros Disponíveis</h3>
    <div class="row">
        @foreach (var livro in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/FotoLivro/@livro.Capa" alt="@livro.Titulo" />
                    <div class="card-body">
                        <h5 class="card-title">@livro.Titulo</h5>
                        <p class="card-text">Autor: @livro.Autor?.Nome</p>
                        <p class="card-text">Categoria: @livro.Categoria?.Nome</p>
                        <p class="card-text">Data de Publicação: <small>@livro.AnoPublicacao</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Lista de categortias -->
<div class="navbar-categorias">
    <h2>Livros</h2>
    <ul class="list-group">
        @foreach (var cat in ViewBag.Categorias)
        {
            <li class="list-group-item">
                <a href="?categoria=@cat.Nome">@cat.Nome</a>
            </li>
        }
    </ul>
</div>
